
textarea {
    resize: none;
    height: 50px;
    width: 500px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_holder {
    margin: 20px;
}

#content_password_configuration {
    display: flex;
    align-content: center;
    justify-content: center;
}

#content_password_configuration input {
    margin: 0px 10px;
}

