
textarea {
    resize: none;
    height: 50px;
    width: 500px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_holder {
    margin: 20px;
}

